ul{
                list-style-type: none;
                margin-bottom: 500px;
                margin-left: 0px; 
                padding: 0;
                width: 200px;
                background-color: lightgray;
                float: left;
            }
            li a{
                display: block;
                color: black;
                padding: 8px 0 8px 16px;
                text-decoration: none;
            }
            li a:hover{
                background-color: black;
                color: lightgray;
            }
