  body {
  font-family: 'Yeon Sung', cursive;
  font-size: 1.4rem;
}

.active {
  font-weight: bold;
}

/* 네비게이션 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* 상단바 뒤로 */
  padding: 48px 0 0; /* 상단바 높이 */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px); /* 전체 창 크기 - 상단 바 높이 */
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-link {
  color: black;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* 내용 */

main {
  padding-top: calc(48px + 1rem); /* 상단바 높이 */
  padding-left: 1rem;
}

#topnav {
  height:48px;
}
.mid-title{
    font-size: 1.3rem;
}
